hr {
  width: 40%
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h5 {
  padding-bottom: 5%;
}

.aboutus img {
  width: 100%;
}

.aboutinfo {
  color: white;
  background-color: #c70039;
}

.all-events{
  background-color: #c70039;
}

.all-speakers{
  background-color: #ff5733;
}

.all-speakers .modal-body{
  padding-top: 2%;
}

.bd-example {
  vertical-align: middle;
}

.btn-lg{
  border-color: transparent;
}

.Bab {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 1rem;
}

.center-align {
  text-align: center;
}

.countdown {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: white;
  border-width: 5px;
  border-style: solid transparent;
  border-radius: 10px;
  text-align: center;
  padding: 3%;
}

.cd-div {
  margin-top: 3%;
  text-align: center;
  padding: 0 25%;
}

.cspan {
  display: block;
}

.carousel-left {
  margin-left: -7%;
}

.carousel-right {
  margin-right: -7%;
}

.carousel-ind {
  margin-bottom: -12%;
}

.carousel-item {
  text-align: center;
}

.col {
  text-align: center;
}

.col-md-4 {
  margin: auto;
  text-align: center;
}

.col-md-3 {
  margin: auto;
  text-align: center;
}

.col-md-8 {
  text-align: center;
  margin: auto;
}

.events {
  background-color: #c70039;
}

.e-btn {
  padding: 0;
  border: none;
  background: none;
}

.erow{
  padding: 3%;
}

.ev-img{
  width: 225px;
  height: 225px;
}

.ev-desc{
  padding: 5%;
}

.ev-btn{
  margin-top: 5%;
  background-color: #ff5733;
}

.inspiria {
  padding-bottom: 1.5%;
}

.footer {
  text-align: center;
  background: #581845;
  padding: 3% 15%;
  color: white;
}

.ftext {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 1.5rem;
}

.grid {
  text-align: center;
  padding: 5%;
  margin: auto;
}

.heading {
  text-align: left;
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
}

.heading hr {
  width: 10%;
  border-color: white;
  border-width: 3px 0 0;
  padding-bottom: 2%;
}

.jusify{
  text-align: justify;
  padding: 0;
}

.mod-img{
  position: relative;
  width: 100%;
}

.modal-body{
  padding: 0 0 1rem 0;
  text-align: justify;
}

.navbar {
  background-color: #581845;
  padding: 5px 10%;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
}

.padding {
  padding: 5% 10%;
}

.radio-inline{
  margin: 0 2%;
}

.radio-spacing{
  margin: 0 1%;
}

.register-div{
  text-align: center;
  padding: 0;
  margin: 0;
}

.register-about{
  background-color: #581845;
  color: white;
}

.register-about p{
  text-align: justify;
}

.competitor-pass{
  background-color: #ffc300;
  color: black;
}

.presentation-pass{
  background-color: #c70039;
  color: white;
}

.register-btn{
  margin-top: 5%;
  background-color: #ff5733;
}

.row {
  margin: 0;
}

.spinner {
  border-radius: 50%;
  display: block;
  margin: 2% auto;
  -webkit-animation: rotation 20s infinite linear;
}

.sp-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 2%;
}

.socials {
  padding: 2% 3%;
  color: white;
}

.speakers-lg {
  background: #ffc300;
}

.speakers {
  margin: 0;
  padding: 0;
}

.sp-desc{
  padding: 2%;
  text-align: justify;
}

.snubc {
  padding-bottom: 1.25%;
}

.spkr {
  border-radius: 50%;
  margin: 5% auto;
}

.testimonials {
  text-align: center;
  background-color: #ff5733;
  color: white;
}

.yellow-bg {
  background-color: #ffc300;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@media only screen and (min-width: 768px) {
  .speakers-sm {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .all-events{
    text-align: center;
  }
  .col-sm-4{
    text-align: center;
  }

.col-sm-8{
  padding: 5% 0 0 0;
}

  .cd-div {
    padding: 5% 10%;
  }

  .countdown {
    font-size: 1.5rem;
  }

  .carousel-ind {
    margin-bottom: -5%;
  }

  .inspiria {
    display: block;
    margin: auto;
  }

  .e-btn {
    padding: 2%;
  }

  .ftext {
    display: none;
  }

  .heading {
    text-align: center;
    padding-left: 5px;
  }

  .heading hr {
    display: none;
  }

  .navbar {
    padding: 2%;
  }

  .padding {
    padding: 2%;
  }

  .testimonials {
    padding: 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .speakers-lg {
    display: none;
  }

  .spkr {
    padding-top: 5%;
    margin: 2% auto;
    width: 70%;
  }

  .sp-desc{
    padding: 2% 0 0 0;
  }

  .speakers-sm {
    background-color: #ffc300;
    padding: 2% 0;
  }
  .register-about p{
    text-align: center;
  }
  .register-btn{
    margin: 2% 0;
    background-color: #ff5733;
  }
}
